<!DOCTYPE html>
<html lang="en">

<!---------------------------- Head ---------------------------->

<%- include('../partials/head.ejs') %>

<body>
    
    <!---------------------------- Header ---------------------------->

    <%- include('../partials/header.ejs') %>

    <main>
        <div class="details__dashboard">
            <div class="dashboard__image-product">
                <img src="/images/home/Warcraft.jpg" alt="imagen de mario">
            </div>
            <section class="descripcion">
                <div>
                    <h1 class="descr">Warcraft III</h1>
                    <div class="detallito">
                        <img src="/images/detalle/mario_render.webp" alt="imagen de Mario">
                    </div>
                </div>
                <form class="product__options">
                    <div class="cantidad">
                        <div class="tema">
                            <label class="product__option-label" for="product-quantity">Cantidad</label>
                        </div>
                        <div class="product__actions">
                            <input id="product-quantity" class="input-number__input " type="number" min="1"
                                value="1">
                        </div>
                    </div>
                    <div class="carrito">
                        <button type="button" class="agregar">Agregar al carrito</button>
                    </div>
                </form>
            </section>
        </div>
        <p class="texto-descriptivo"> Los videojuegos de Super Mario siguen las aventuras del fontanero Mario, por lo general en el ficticio Reino Champiñón. A menudo se le une su hermano, Luigi, y ocasionalmente, otros miembros de la franquicia. Al igual que en la mayoría de los videojuegos de plataformas, el jugador principalmente corre y salta a través de plataformas y sobre enemigos en distintos niveles temáticos. Los videojuegos tienen tramas generalmente simples, en los que Mario debe rescatar a la princesa Peach (Princesa Toadstool) que es secuestrada por el villano principal de la franquicia, Bowser.</p>

        <div class="nameProduct">
            <h1 class="nameProduct__text">SUPER MARIO</h1>
        </div>

        <div class="detalles">

            <section class="colum">
                <div>
                    <span>Caracteristicas Generales</span>
                    <div class="observ">
                        <table>
                            <tbody>
                                <tr class="datos">
                                    <td>
                                        <span>Precio </span>
                                    </td>
                                    <td>...</td>
                                </tr>

                                <tr class="datos">
                                    <td>
                                        <span>Modelo</span>
                                    </td>
                                    <td>...</td>
                                </tr>

                                <tr class="datos">
                                    <td>
                                        <span>Color</span>
                                    </td>
                                    <td>...</td>
                                </tr>

                                <tr class="datos">
                                    <td>
                                        <span>Tamaño</span>
                                    </td>
                                    <td>...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="colum">
                <div>
                    <span>Maquinaria</span>
                    <div class="observ">
                        <table>
                            <tbody>
                                <tr class="datos">
                                    <td>
                                        <span>Sistema</span>
                                    </td>
                                    <td>...</td>
                                </tr>

                                <tr class="datos">
                                    <td>
                                        <span>Formato</span>
                                    </td>
                                    <td>...</td>
                                </tr>

                                <tr class="datos">
                                    <td>
                                        <span>Jugadores posibles</span>
                                    </td>
                                    <td>...</td>
                                </tr>

                                <tr class="datos">
                                    <td>
                                        <span>Soporte Electrico</span>
                                    </td>
                                    <td>...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="colum">
                <div>
                    <span>otras Caracteristicas</span>
                    <div class="observ">
                        <table>
                            <tbody>
                                <tr class="datos">
                                    <td>
                                        <span>Tema</span>
                                    </td>
                                    <td>...</td>
                                </tr>

                                <tr class="datos">
                                    <td>
                                        <span>Trama</span>
                                    </td>
                                    <td>...</td>
                                </tr>

                                <tr class="datos">
                                    <td>
                                        <span>Época</span>
                                    </td>
                                    <td>...</td>
                                </tr>

                                <tr class="datos">
                                    <td>
                                        <span>Público</span>
                                    </td>
                                    <td>...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="colum">
                <div>
                    <span>otros</span>
                    <div class="observ">
                        <table>
                            <tbody>
                                <tr class="datos">
                                    <td>
                                        <span>Efectivo/Contado</span>
                                    </td>
                                    <td>$...</td>
                                </tr>

                                <tr class="datos">
                                    <td>
                                        <span>Tarjeta</span>
                                    </td>
                                    <td>$...</td>
                                </tr>

                                <tr class="datos">
                                    <td>
                                        <span>Transferencia</span>
                                    </td>
                                    <td>$...</td>
                                </tr>

                                <tr class="datos">
                                    <td>
                                        <span>Deposito</span>
                                    </td>
                                    <td>$...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>

        <section class="recomendados">
            <div>
                <h2 class="ultimotitle"><a><i class="fa-solid fa-gamepad"></i></a>Productos Recomendados<a><i
                            class="fa-solid fa-gamepad"></i></a></h2>
                <div class="articulos">
                    <div class="imagenes">
                        <div class="prod">
                            <div>
                                <img src="images/detalle/champions.jpg" alt="imagen de champions" />
                            </div>

                            <div class="team">
                                <div>
                                    <p>Champions</p>
                                    <p class="precios">$6.770</p>
                                </div>

                                <a class="coment"><i class="fa-solid fa-comment-dollar"></i>
                                </a>
                            </div>
                        </div>
                        <div class="prod">
                            <div>
                                <img src="images/detalle/champions.jpg" alt="imagen de champions" />
                            </div>

                            <div class="team">
                                <div>
                                    <p>Champion</p>
                                    <p class="precios">$6.770</p>
                                </div>

                                <a class="coment"><i class="fa-solid fa-comment-dollar"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>