<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" type="text/css" href="/styles/products/cart.css" />
</head>

<body>
   
    <%-include('../partials/header.ejs')%>

    <main>
        <h2 class="title-cart">Mi carrito</h2>

        <div class="main-container">
            <div class="card-container">
                <div class="image-platform">
                    <img src="/images/caratulas/MH-rise-caratula.jpg" alt="">
                    <p>PC</p>
                </div>
                <div class="middle-container">
                    <p class="title-game">NOmbre del juego</p>
                    <div class="ranking-container">
                        <img src="/images/rankings/ESRB_M.svg" alt="">
                        <img src="/images/rankings/PEGI_3.png" alt="">
                    </div>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <span>Consigue un 10% de descuentos por navidad en GameBooks. La oferta termina el 10 de enero.</span>
                    </div>
                </div>
                <span class="price-game">20$$</span>
                <div class="button-cards">
                    <a href=""><i class="fa-solid fa-plus"></i>Mover a la lista de deseos</a>
                    <a href="">Eliminar</a>
                </div>
            </div>
            <div class="resume-container">
                <h2 class="tittle-resume-container">Resumen de Compra</h2>
                <div class="resume-line">
                    <h2>Precio</h2>
                    <h2>numero</h2>
                </div>
                <div class="resume-line">
                    <h2>Descuentos</h2>
                    <h2>numero</h2>
                </div>
                <div class="resume-line">
                    <h2>Impuestos</h2>
                    <h2>numero</h2>
                </div>
                <div class="separador"></div>
                <div class="resume-line">
                    <h2>Total</h2>
                    <h2>numero</h2>
                </div>
                <button class="resume-button">Finalizar Compra</button>
            </div>
        </div>
    </main>

    <!---------------------------- Footer ---------------------------->

    <%- include('../partials/footer.ejs') %>
</body>

</html>