<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/styles/style.css">
    <link rel="stylesheet" type="text/css" href="../public/styles/home.css">
    <title>Nombre Pendiente (?</title>
</head>
<body>
    <header>
        <div class="navBar">
            <div class="navigation">
                <a class="link" href="/views/home.html">Categorias</a>
                <a class="link" href="/views/home.html">Ofertas</a>
                <a class="link" href="/views/home.html">Nuevo!</a>
                <a class="link" href="/views/home.html">(?)</a>
            </div>
            <div class="icon" href="/views/home.html">
                <img class="icon-image" src="../extra/icono.png" alt="icono pagina">
            </div>
            <div class="loginBar">
                <a class="link" href="/views/home.html">Registrarse</a>
                <a class="link" href="/views/home.html">Entrar</a>
            </div>
        </div>
    </header>
    <main>
        <a href=""></a>
    </main>
    
</body>
</html>