<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="images/header/icono.png">

    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>My Cart</title>
</head>

<body>
    <header>

    </header>

    <main>
        
        <form class="container-form" action="register.html" method="POST">
            <div>
                En los confines digitales de la realidad, un código ancestral se manifiesta como una red interconectada de posibilidades. En este vasto cosmos cibernético, una figura misteriosa emerge de las sombras, destinada a moldear su propia leyenda.
                Un ser virtual conocido como
            </div>
            <div>
                <label for="nombre">Nombre </label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre..." required>
            </div>
            <p>
                Pero un héroe sin un alias es solo un fragmento del código. ¿Cómo te llamarás, trascendente jugador?
            </p>
            <p>
                <label for="apodo">Apodo</label>
                <input type="text" id="apodo" name="apodo" placeholder="Ingresa tu apodo..." required>
            </p>
            <p>
                En este reino de bytes y circuitos, la comunicación fluye a través de canales insondables. El canal que te unirá a otros exploradores de la matriz es 
            </p>
            
            <p>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </p>
            <p>
                Y así, [ingresa nombre], forjaste tu contraseña, un patrón de seguridad único entre la corriente de datos. Como un algoritmo inscrito en los cimientos de la realidad virtual el cual era 
            </p>
            
            <p>
                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" name="contrasena" required>
            </p>
            <p>
                Pero incluso en este laberinto de información, la simetría es clave. La confirmación de tu contraseña sella la conexión entre tu esencia y la marea de información que te rodea. 
            </p>
            <p>
                <label for="repetir-contrasena">Repetir Contraseña</label>
                <input type="password" id="repetir-contrasena" name="repetir-contrasena" required>
            </p>
            
            <input type="submit" value="Registrarse">
        </form>
    </main>

    <footer>

    </footer>
</body>