<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cart.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>My Cart</title>
</head>

<body>
    <header>

    </header>

    <main>
        <div class="mycart-tittle">
            <i class="fa-solid fa-cart-shopping fa-2xl"> MYC<span id="offset">A</span>RT</i>
        </div>
        <div class="container-general">
            <table class="shop-cart">
                <thead>
                    <tr class="item-header">
                        <th class="product">
                            Producto
                        </th>
                        <th class="quantity">
                            Cantidad
                        </th>
                        <th class="subtotal">
                            Subtotal
                        </th>
                        <th class="action">
    
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="item-product">
                            <div class="item-img-text">
                                <img class="item-img" src="/images/cxxccx.jpg" alt="">
                                <div>
                                    <div class="item-name">
                                        Starfield
                                    </div>
                                    <div class="item-descr">
                                        Plataforma
                                    </div>
                                </div>
                            </div>
    
                        </td>
                        <td class="item-quantity">
                            <select name="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                        <td class="item-subtotal">
                            $XXXXX
                        </td>
                        <td class="item-action">
                            <button>
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="item-product">
                            <div class="item-img-text">
                                <img class="item-img" src="/images/cxxccx.jpg" alt="">
                                <div>
                                    <div class="item-name">
                                        Starfield
                                    </div>
                                    <div class="item-descr">
                                        Plataforma
                                    </div>
                                </div>
                            </div>
    
                        </td>
                        <td class="item-quantity">
                            <select name="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                        <td class="item-subtotal">
                            $XXXXX
                        </td>
                        <td class="item-action">
                            <button>
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="item-product">
                            <div class="item-img-text">
                                <img class="item-img" src="/images/cxxccx.jpg" alt="">
                                <div>
                                    <div class="item-name">
                                        Starfield
                                    </div>
                                    <div class="item-descr">
                                        Plataforma
                                    </div>
                                </div>
                            </div>
    
                        </td>
                        <td class="item-quantity">
                            <select name="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                        <td class="item-subtotal">
                            $XXXXX
                        </td>
                        <td class="item-action">
                            <button>
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
    
            <div class="resume-container">
                <table>
                    <tbody>
                        <tr>
                            <th>
                              <span>Total: </span>  
                            </th>
                            <td>
                                <span>$XXXX</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Discount:</th>
                            <td>
                                <span>$XXXX</span>
                            </td>
                        </tr>
                        <tr>
                            <td>LINEA</td>
                        </tr>
                        <tr>
                            <td>
                                <button>Secure checkout</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="discount-container">
                Discount code: <input type="text">
            </div>
        </div>

    </main>

    <footer>

    </footer>
</body>

</html>