/* ----------------- Variables ----------------- */
:root {
    --hexagon_width: 235px;
    --hexagon_height: 260px;
    --hexagon_delay: 600ms;
    --hexagon_duration: 400ms;
    --container_padding: 5rem;
    --item_gap: .7rem;
    --mode: ":hover";
}

/* ----------------- General ----------------- */
* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url(/images/background/B-myCart.jpg); */
    background-image: url(/images/home/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
    flex-wrap: wrap;
}

.title-cart {
    color: whitesmoke;
}

.main-container {
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    margin-left: 6vw;
    margin-right: 6vw;

}

.resume-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: antiquewhite;
    border-radius: 10px;
    padding: 1vw;
    gap: 12px;
    width: 30%;
}

.resume-container .tittle-resume-container {
    padding-bottom: 20px;
    font-size: 1.3rem;
}

.resume-line {
    display: flex;
    justify-content: space-between;
}

.resume-line h2 {
    font-size: 1rem;
}

.separador {
    border: 1px solid rgb(121, 121, 121);
    margin: 7px 0;
}

.resume-button {
    padding: 10px 20px;
    background-color: rgb(39, 197, 224);
    color: white;
    border: none;
    border-radius: 6px;
}

.card-container {
    background-color: red;
    width: 65%;
    display: flex;
    justify-content: start;
    position: relative;
}

.image-platform {
    width: 12vw;
    padding: 10px;
}

.image-platform img{
    width: 100%;
    border-radius: 5px;
}

.title-game {
    padding-top: 15px;
}

.price-game {
    position: absolute;
    top: 16px;
    right: 16px;
}

.ranking-container {
    display: flex;
    justify-content: center;
    width: 10vw;
    gap: 3px;
    border: 1px solid black;
    padding: 5px 0;
}

.ranking-container img{
    width: 40%;
}

.button-cards {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.button-cards a{
    color: rgb(136, 136, 136);
    outline: none;
}