.main__editProduct {
    max-width: 720px;
    margin: 2rem auto;
    background: var(--color-translucid-black90);
    border-radius: 0.5rem;
}

.main__editProduct .editproduct__title {
    display: flex;
    justify-content: center;
    color: var(--color-white);
}

.main__editProduct .editproduct__title h2 {
    text-shadow: 0 0 1px var(--color-translucid-lightblue),
        0 0 2px var(--color-translucid-lightblue),
        0 0 4px var(--color-translucid-lightblue),
        0 0 6px var(--color-translucid-lightblue);
}

.main__editProduct .editForm__inputText {
    display: flex;
    box-sizing: border-box;
    padding: 0.5rem 2rem;
    width: 100%;
}

.main__editProduct .editForm__spanTextTittle {

    padding: 0.5rem 2rem;
    width: 100%;

    font-size: small;
    color: rgb(255, 0, 0);
}

.main__editProduct .editForm__spanText {

    padding: 0.5rem .4rem;
    width: 100%;

    font-size: medium;
    color: rgb(201, 2, 2);
}

.editForm__inputText .field {
    width: 100%;
    padding: 0.5rem 0;
}

.editForm__inputText .field {
    width: 100%;
    padding: 0.5rem 0;
}

.editForm__inputText .field .field__input {
    position: relative;
}

.editForm__inputText .field .field__input .input {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    padding: 0.7rem 1rem 0.5rem;
    border-top: none;
    border-right: none;
    border-left: solid 3px var(--color-violet);
    border-bottom: solid 3px var(--color-violet);
    color: var(--color-white);
    border-radius: 5px 0 0 5px;
}

.editForm__inputText .field .field__input .input:focus {
    outline: none;
}

.editForm__inputText .field .field__input .label {
    position: absolute;
    top: -0.5rem;
    padding: 0 0 0 4rem;
    color: var(--color-white);
    font-size: 0.75rem;
    line-height: 1.5em;
    font-family: monospace, serif;
    transition: all 0.25s linear;
}

.editForm__inputText .field .field__input .label::before {
    border-left: solid 3px var(--color-violet);
    border-top: solid 3px var(--color-violet);
    content: "";
    display: block;
    width: 3rem;
    height: 1rem;
    border-radius: 5px 0 0;
    position: absolute;
    left: 0;
    top: .5rem;
}

.editForm__inputText .field .input--id .input {
    color: var(--color-gray);
}

.editForm__inputText .field .input--radio .input__container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-around;
    padding: 0.7rem 3rem 0.5rem;
    flex-wrap: wrap;
}

.editForm__inputText .field .input--radio .input__container .option {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0.5rem 0;
}

.editForm__inputText .field .input--radio .label--radio {
    color: var(--color-white);
    padding-top: 1rem;
}

.editForm__inputText .field .input--radio .input--radio {
    width: auto;
}

.editForm__inputText .field .input--radio .input__container .option__title {
    color: var(--color-white);
}

.editForm__inputText .field .input--radio .input__container .option--classification {
    display: flex;
    width: fit-content;
    padding: 0.5rem 0;
}

.editForm__inputText .field .input--radio .input__container .label--radio-classification {
    color: var(--color-white);
    padding-left: 1rem;
}

.editForm__preview {
    display: flex;
    align-items: center;
}

.editForm__inputText .preview--image {
    width: 20%;
    display: flex;
    justify-content: center;
}

.editForm__inputText .preview--image img {
    max-width: 90%;
    max-height: 5rem;
}

.editForm__inputText .preview--select {
    width: 80%;
}

.editProduct__editForm .editForm__buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem 2rem 2rem;
}

.editProduct__editForm .editForm__buttonBox .buttonBox__button {
    width: 40%;
}

.editProduct__editForm .editForm__buttonBox .buttonBox__button button {
    width: 100%;
    background: var(--color-violet);
    color: var(--color-white);
    outline: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.editProduct__editForm .editForm__buttonBox .buttonBox__button button:hover {
    background: #614abd;
}

.editProduct__editForm .editForm__buttonBox .button--confirm button {
    background: var(--color-pink);
}

.editProduct__editForm .editForm__buttonBox .button--confirm button:hover {
    background: #f782d8;
}



/* .dashboard__description .description__shopping .button--buy button {
    color: var(--color-black);
    background: var(--color-yellow);
    border: none;
}

.dashboard__description .description__shopping .button--buy button:hover {
    background: #faf17a;
    box-shadow: 0 0 8px var(--color-yellow);
} */

/* main__editProducteditProduct__editForm


.details__dashboard .dashboard__description .description__shopping .shopping__button {
    background: transparent;
    margin: 0.5rem 2rem;
}

.dashboard__description .description__shopping .shopping__button button {
    width: 100%;
    color: var(--color-white);
    outline: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
    background: transparent;
    border-radius: 4px;
    border: 1px solid var(--color-yellow);
} */