<li class="item">
    <div class="hexagon">
        <img src="<%= data_item.image %>" alt="">
        <div class="hexagon-price">$<%= data_item.price %></div>
        <div class="hexagon-price-discount">$29,586.59</div>
        <div class="hexagon-icon">
            <% for(let i=0; i < data_item.plataform.length; i++) { %>
                <i class="<%= data_item.plataform[i][1] %>"></i>
            <% } %>
        </div>
        <select class="hexagon-count" name="cantidad">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button class="hexagon-delete">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</li>