<footer>
    <!-- <span class="hover-3">proximamente (?</span> -->
    <div class="container">
        <div class="members_container">
            <div class="footer_data">
                <p class="text1">Compra y venta de Juegos - GameBooks v0.3.3.3 Beta</p>
                <p class="text2">@2023-2023 Todos los derechos reservados</p>
            </div>
            <div>
                <p class="text_members">Team GameBooks!</p>
                <div class="members">
                    <a href="https://github.com/Yamilablas"><img src="/images/members/yami.jpeg" alt=""></a>
                    <a href="https://github.com/Aniwyn"><img src="/images/members/jona.jpeg" alt=""></a>
                    <a href="https://github.com/KevinP-T"><img src="/images/members/kevin.jpeg" alt=""></a>
                    <a href="https://github.com/pabloSales-2000"><img src="/images/members/pablo.jpeg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="contact_container">
            <div class="section__socialMedia">
                <a class="icon_container" href="#"><i class="fa-brands fa-facebook icon__social icon__facebook"></i></a>
                <a class="icon_container" href="#"><i class="fa-brands fa-x-twitter icon__social icon__twitter"></i></a>
                <a class="icon_container" href="#"><i class="fa-brands fa-instagram icon__social icon__instagram"></i></a>
                <a class="icon_container" href="#"><i class="fa-brands fa-youtube icon__social icon__youtube"></i></a>
                <a class="icon_container" href="#"><i class="fa-solid fa-arrow-up icon__social icon__youtube"></i></a>
            </div>
        </div>
        <!-- <section class="footer__section section__logo">
            <img class="logo__image" src="/images/header/icono.png" alt="logo de la pagina" />
            <span class="logo__name text--rainbow">GAMEBOOKS</span>
        </section>
        <section class="footer__section section__newsletter">
            <p>Inscribite y obtené 10% OFF en tu primer compra</p>
            <form action="/" method="get">
                <div class="newsletter__subscribe">
                    <input type="text">
                    <button type="submit" class="subscribe__btnSend">
                        <i class="fa-solid fa-arrow-right i-send"></i>
                    </button>
                </div>
            </form>
        </section>
        <section class="footer__section footer__title">
            <span class="section__title">Siguenos</span>
            <div class="section__socialMedia">
                <a href="#"><i class="fa-brands fa-facebook icon__social icon__facebook"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter icon__social icon__twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram icon__social icon__instagram"></i></a>
                <a href="#"><i class="fa-brands fa-youtube icon__social icon__youtube"></i></a>
            </div>
        </section>
        <section class="footer__section footer__title">
            <span class="section__title">Contactanos</span>
            <ul>
                <li>
                    <a href="tel:081012345678">
                        <i class="fa-solid fa-phone icon__contact i--phone"></i>(0810) 1234 5678
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/543885123456">
                        <i class="fa-brands fa-whatsapp icon__contact i--whatsapp"></i>+54 (388) 512-3456
                    </a>
                </li>
                <li>
                    <a href="mailto:support@games.com">
                        <i class="fa-regular fa-envelope icon__contact i--mail"></i>support@games.com
                    </a>
                </li>
            </ul>
        </section> -->
    </div>
</footer>