<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />

    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
    <link rel="stylesheet" type="text/css" href="/styles/login.css" />
    <link rel="stylesheet" type="text/css" href="/styles/register.css" />
    <link rel="stylesheet" type="text/css" href="/styles/edit_product.css" />
    <link rel="stylesheet" type="text/css" href="/styles/product_detail.css" />

    <link rel="stylesheet" type="text/css" href="/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="/styles/footer.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>GameBooks</title>
</head>