<li class="item">
    <div class="hexagon">
        <img src="/images/caratulas/Starfield.jpg" alt="">
        <div class="hexagon-price">$21,586.59</div>
        <div class="hexagon-price-discount">$21,586.59</div>
        <div class="hexagon-icon">
            <% for(let i=0; i < 1; i++) { %>
                <%= data_item.plataform[i] %>
            <% } %>
        </div>
        <select class="hexagon-count" name="cantidad">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button class="hexagon-delete">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</li>