:root {
    --hexagon_width: 15rem;
    --hexagon_height: calc(var(--hexagon_width) * 1.155)
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/home/background.jpg");
}

main {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.container-general {
    display: flex;
    margin-top: 5vh;
    flex-wrap: wrap;
}

.mycart-tittle {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.mycart-tittle i {
    padding: 50px;
    font-size: 50px;
    color: white;

    animation: pulsate 3s infinite alternate;

    border: 0.2rem solid #fff;
    border-radius: 2rem;

    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

/*ES LA TABLA QUE CONTIENE LOS ITEMS*/
.shop-cart {

    width: 65vw;
    margin-left: 0.5vw;

    border-collapse: collapse;
    border-spacing: 0;
}

.shop-cart thead {
    background: linear-gradient(90deg, rgba(50, 37, 96, 0.7) 0%, rgba(50, 37, 102, 0.7) 100%);
}

.shop-cart tbody {
    background: var(--color-gray);
}

.shop-cart thead th:nth-child(1) {
    width: 55%;
    border: var(--color-white);
}

.shop-cart thead th:nth-child(2) {
    width: 15%;
}

.shop-cart thead th:nth-child(3) {
    width: 20%;
}

.shop-cart thead th:nth-child(4) {
    width: 10%;
}

.shop-cart th,
td {
    padding: 8px;
    padding-bottom: 0;
    color: var(--color-white);
    text-align: center;
}


.product {
    padding-bottom: 8px;
}

.quantity {
    padding-bottom: 8px;
}

.subtotal {
    padding-bottom: 8px;
}

.action {
    padding-bottom: 8px;
}

/*CARDS DE CADA ITEM*/


.item-img-text {
    display: flex;
    flex-wrap: nowrap;
}

.item-img {
    width: 7vw;
    margin: 5px;
    box-shadow: 0px 0px 10px var(--color-white);
}


.shop-cart tbody tr .item-product {
    border-left: solid 1px var(--color-white);
    border-top: solid 1px var(--color-white);
    border-bottom: solid 1px var(--color-white);



}

.shop-cart tbody tr .item-quantity {
    border-top: solid 1px var(--color-white);
    border-bottom: solid 1px var(--color-white);
}

.shop-cart tbody tr .item-subtotal {
    border-top: solid 1px var(--color-white);
    border-bottom: solid 1px var(--color-white);

    font-size: 1.5vw;
}

.shop-cart tbody tr .item-action {
    border-right: solid 1px var(--color-white);
    border-top: solid 1px var(--color-white);
    border-bottom: solid 1px var(--color-white);
}

.item-name {
    font-size: 2vw;
    font-weight: bold;
}

.item-descr {
    font-weight: lighter;
}

.item-quantity select {
    text-align: center;
    color: var(--color-white);
    font-size: 1vw;
    font-weight: 400;
    background-color: var(--color-dark_green);
    border-radius: 5px;
    border: solid 3px var(--color-violet);
    padding: 10px;
    box-shadow: 0 0 20px var(--color-violet);
}


.item-action button {
    border: none;
    background: none;
}

.item-action button i {
    color: var(--color-white);
    font-size: 18px;
}

.resume-container {
    border-radius: 6px;
    border: solid 1px var(--color-darkgray);
    background: var(--color-gray);
    color: var(--color-white);
    text-align: left;



    margin-left: 1vw;
    margin-bottom: 13vw;
}

.discount-container {
    background: var(--color-gray);

    padding: 2vw 18vw;
    margin-right: 55vw;
    margin-top: 1rem;
    margin-bottom: 1rem;

    text-align: left;
}


#offset {
    animation: letter-flicker 2s linear infinite;
}

@keyframes pulsate {

    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #bc13fe,
            0 0 80px #bc13fe,
            0 0 90px #bc13fe,
            0 0 100px #bc13fe,
            0 0 150px #bc13fe;

    }

    10% {
        text-shadow: none;
        box-shadow: none;
    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #bc13fe,
            0 0 45px #bc13fe,
            0 0 55px #bc13fe,
            0 0 70px #bc13fe,
            0 0 80px #bc13fe;

    }
}

@keyframes letter-flicker {

    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #bc13fe,
            0 0 80px #bc13fe,
            0 0 90px #bc13fe,
            0 0 100px #bc13fe,
            0 0 150px #bc13fe;

    }

    2%,
    10%,
    88%,
    90% {
        text-shadow: none;
        box-shadow: none;
    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #bc13fe,
            0 0 45px #bc13fe,
            0 0 55px #bc13fe,
            0 0 70px #bc13fe,
            0 0 80px #bc13fe;

    }
}


.item * {
    visibility: visible;
}

.item {
    position: relative;
    width: var(--hexagon_width);
    padding: 0 0 var(--hexagon_height) 0;
    transform: rotate(-60deg) skewY(30deg);
    background: #fd005f;
    overflow: hidden;
    visibility: hidden;
    margin-top: -50px;

    transition-duration: 1000ms;
}

.item:hover {
    scale: 1.18;
}

.item:hover .hexagon *{
    opacity: 1;
}


.hexagon {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-darkgray);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
}

.hexagon img {
    width: 100%;
    transition-duration: 1s;
}

.item:hover .hexagon img {
    scale: 0.45;
}


.hexagon-price {
    position: absolute;
    bottom: 2rem;
    font-size: 1rem;

    color: var(--color-white);
    text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #e7c968,
        0 0 40px #bc13fe,
        0 0 80px #bc13fe,
        0 0 90px #bc13fe,
        0 0 100px #cf2020,
        0 0 150px #e6b13f;

    opacity: 0;
    transition: 1s;
}

.hexagon-txt-icon{
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    letter-spacing: -.5rem;
    font-weight: 800;
    position: absolute;
    bottom: 4.5rem;
    left: .8rem;
    color: var(--color-white);
    font-size: 1rem;
    text-shadow:
        0 0 0.6vw #7c7c7c,
        0 0 1.2vw #00ff22;

    opacity: 0;
    transition: 1s;
}

.hexagon-icon{
    position: absolute;
    bottom: 5.6rem;
    left: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.8vw;

    opacity: 0;
    transition: 1s;
}
.hexagon-icon i{
    color: var(--color-white);
    font-size: 1rem;
    text-shadow:
        0 0 0.6vw #7c7c7c,
        0 0 1.2vw #00ff22;
}

.hexagon-count{
    position: absolute;
    top: 2.5rem;
    color:var(--color-white);
    background: var(--color-darkgray);
    border: none;
    border-radius: .3rem;
    padding: .2rem;
    font-size: 1rem;
    text-decoration: none;

    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem var(--color-lightblue),
    inset 0 0 .5rem #006b5d;

    opacity: 0;
    transition: 1s;
}

.hexagon-delete{
    position: absolute;
    bottom: 7.5rem;
    right: 1rem;
    background: none;
    border: none;

    opacity: 0;
    transition: 1s;
}

.hexagon-delete i{
    color: var(--color-white);
    font-size: 1rem;
    padding: .5rem;
    text-shadow:
    0 0 0.6vw #7c7c7c,
    0 0 1.2vw #a82200;

    transition: .1s;
}

.hexagon-delete i:hover{
    scale: 1.3;
    text-shadow:
    0 0 0.6vw #bd8100,
    0 0 1.2vw #ff0000;
}