:root {
    --hexagon_width: 235px;
    --hexagon_height: 260px;
    --hexagon_delay: 600ms;
    --hexagon_duration: 400ms;
    --container_padding: 5rem;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/mycart/5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mycart-tittle {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.mycart-tittle i {
    padding: 50px;
    font-size: 50px;
    color: white;

    animation: pulsate 3s infinite alternate;

    border: 0.2rem solid #fff;
    border-radius: 2rem;
    

    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

.resume-container {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 45%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

    background-image: url(/images/mycart/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.resume-container .resume-container-tittle {
    margin: 50px 50px 20px 50px;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    font-size: 1.5rem;
    text-align: center;

    animation: blink 12s infinite;
}

.resume-container .resume-container-body {
    background: var(--color-darkgray);
    border: none;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #d66800,
    0 0 0.8rem #d66800,
    0 0 1.8rem #d66800,
    inset 0 0 1.3rem #d66800;
    width: 75%;
    height: auto;
    padding: 1rem;
    margin-bottom: 25px;

    color: var(--color-white);
    font-size: .9rem;
}

.resume-container .resume-container-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 20px 100px 20px;
    gap: 10px;
    width: 75%;
}

.resume-container-buttons .payment-btn {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    text-shadow:
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #bc13fe,
    0 0 80px #bc13fe,
    0 0 90px #bc13fe;

    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;

    width: 100%;
    color: white;
    background: rgb(17, 17, 17);
    overflow: hidden;
    transition: 0.5s;
    filter: hue-rotate(290deg);
}

.resume-container-buttons .payment-btn span {
    position: absolute;
    background: linear-gradient(180deg, transparent, #03e9f4);
}

.resume-container-buttons .payment-btn span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    animation: borderAnimation1 3s linear infinite;
}

.resume-container-buttons .payment-btn span:nth-child(2) {
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    animation: borderAnimation2 1s linear infinite;
    animation-delay: 0.25s;
}

.resume-container-buttons .payment-btn span:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    animation: borderAnimation3 3s linear infinite;
}

.resume-container-buttons .payment-btn span:nth-child(4) {
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    animation: borderAnimation4 2s linear infinite;
    animation-delay: 0.25s;
}

@keyframes borderAnimation1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes borderAnimation2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes borderAnimation3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes borderAnimation4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.resume-container-buttons .payment-btn:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px;
    text-shadow: none;
}

.resume-container-buttons .payment-method-btn {
    width: 100%;
}

.discount-container {
    height: min-content;
    margin-top: 1rem;
    margin-bottom: 1rem;

    text-align: left;
}

.discount-container input{
    border: none;
    outline: none;
}


#offset {
    animation: letter-flicker 2s linear infinite;
}

@keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

@keyframes pulsate {

    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #bc13fe,
            0 0 80px #bc13fe,
            0 0 90px #bc13fe,
            0 0 100px #bc13fe,
            0 0 150px #bc13fe;

    }

    10% {
        text-shadow: none;
        box-shadow: none;
    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #bc13fe,
            0 0 45px #bc13fe,
            0 0 55px #bc13fe,
            0 0 70px #bc13fe,
            0 0 80px #bc13fe;

    }
}

@keyframes letter-flicker {

    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #bc13fe,
            0 0 80px #bc13fe,
            0 0 90px #bc13fe,
            0 0 100px #bc13fe,
            0 0 150px #bc13fe;

    }

    2%,
    10%,
    88%,
    90% {
        text-shadow: none;
        box-shadow: none;
    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #bc13fe,
            0 0 45px #bc13fe,
            0 0 55px #bc13fe,
            0 0 70px #bc13fe,
            0 0 80px #bc13fe;

    }
}

.hexagon-container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: var(--container_padding) 0 var(--container_padding) 0;

    gap: .7rem;
}

.item {
    width: var(--hexagon_width);
    height: calc(var(--hexagon_height)/1.33);
    position: relative;


    transition-duration: var(--hexagon_duration);
}

.item:hover {
    scale: 1.18;
    z-index: 999;
}

.item:hover .hexagon * {
    opacity: 1;
}


.hexagon {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: var(--hexagon_width);
    height: var(--hexagon_height);

    background-image: url(/images/mycart/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    transition: var(--hexagon_duration);
}

.hexagon img {
    width: 100%;
    transition-duration: var(--hexagon_duration);
}

.item:hover .hexagon img {
    scale: 0.45;
}

/* Tamaño del hexagono */
.item:not(:hover) {
    transition-delay: var(--hexagon_delay);
}

/* Items dentro del hexagono */
.item:not(:hover) * {
    transition-delay: var(--hexagon_delay);
}



.hexagon-price {
    position: absolute;
    bottom: 2.5rem;
    font-size: 1rem;

    color: var(--color-white);
    text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #e7c968,
        0 0 40px #bc13fe,
        0 0 80px #bc13fe,
        0 0 90px #bc13fe,
        0 0 100px #cf2020,
        0 0 150px #e6b13f;


    transition: var(--hexagon_duration);
}

.hexagon-icon {
    position: absolute;
    bottom: 5.2rem;
    left: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.8vw;

    opacity: 0;
    transition: var(--hexagon_duration);
}

.hexagon-icon i {
    color: var(--color-white);
    font-size: 1rem;
    text-shadow:
        0 0 0.6vw #7c7c7c,
        0 0 1.2vw #00ff22;
}

.hexagon-count {
    position: absolute;
    top: 9.5rem;
    right: 1rem;
    color: var(--color-white);
    background: var(--color-darkgray);
    border: none;
    border-radius: .3rem;
    padding: .2rem;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;

    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem var(--color-lightblue),
        inset 0 0 .5rem #006b5d;

    opacity: 0;
    transition: var(--hexagon_duration);
}

.hexagon-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6rem;
    width: 1.5rem;
    position: absolute;
    right: 1.2rem;
    top: 6.5rem;

    background: var(--color-darkgray);
    border: none;
    box-shadow:
        0 0 1px #ff7b7b,
        0 0 4px #ff0000,
        0 0 20px #f10800,
        inset 0 0 1px red;

    opacity: 0;

    transition: var(--hexagon_duration);
}

.item:hover .hexagon-delete {
    opacity: 1;
}

.item:not(:hover) .hexagon-delete {
    transition-delay: var(--hexagon_delay);
}

.item:not(:hover) .hexagon-delete i {
    transition-delay: var(--hexagon_delay);
}

.hexagon-delete i {
    color: var(--color-white);
    font-size: .8rem;
    text-shadow:
        0 0 0.6vw #c03e3e,
        0 0 1.2vw #cc2900;


    transition: .3s;
}

.hexagon-delete i:hover {
    cursor: pointer;
    scale: 1.2;
    text-shadow:
        0 0 0.6vw #bd4500,
        0 0 1.2vw #ff0000;
}

.item:nth-child(9n+6) {
    margin-left: 10%;
}

.item:nth-child(9n+9) {
    margin-right: 2%;
}