/* ----------------- General ----------------- */

body {
    background-image: url("../images/home/background.jpg");
    background-size: cover;
}

/* ----------------- Header ----------------- */

.navBar {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    height: 4rem;
    border-radius: 2rem;
    margin: auto;
    background-color: var(--color-black);
    opacity: 0.90;
    justify-content: space-between;
    align-items: center;
}

.navBar .navigation {
    display: inline;
    margin-left: 1rem;
}

.navBar .icon {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    width: 3.6rem;

    /* border: 2px solid var(--color-bone); */
}

.navBar .icon-image {
    padding: auto;
    width: 3.6rem;
}

.navBar .loginBar {
    display: inline;
    margin-right: 1rem;
}

.navBar .link {
    line-height: 24px;
    padding: 1rem;
    color: var(--color-light_blue);
    text-shadow: 0 0 12px var(--color-pink);
    text-decoration: none;
}

.navBar .link:visited {
    padding: 1rem;
    color: var(--color-light_blue);
    text-shadow: 0 0 10px var(--color-bone);
    text-decoration: none;

}

.navBar .link:hover {
    color: var(--color-pink);
}




/* ----------------- Main ----------------- */




/* ----------------- Header ----------------- */

/* ----------------- Header ----------------- */