/* ----------------- General ----------------- */

body {
    background-image: url("../images/home/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0.5rem;
}

/* ----------------- Header ----------------- */

nav {
    /* position: sticky; */
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 4rem;
    border-radius: 2rem;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url("../images/header/header_texture.jpg");
    background-size: 100%;
    background-color: var(--color-black);
    opacity: 0.9;
    justify-content: space-between;
    align-items: center;
}

nav .navigation {
    display: inline;
    margin-left: 1rem;
}

nav .icon {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 2.2rem;
    width: 3.6rem;
    padding: 0.4rem;
    border: 2px solid var(--color-bone);
    background: var(--color-black);
    box-shadow: 0 0 9px var(--color-translucid-lightblue),
        0 0 9px var(--color-translucid-lightblue),
        0 0 9px var(--color-translucid-lightblue),
        0 0 12px var(--color-translucid-lightblue);
}

nav .icon:hover {
    border: 2px solid var(--color-white);
    box-shadow: 0 0 9px var(--color-translucid-pink),
        0 0 9px var(--color-translucid-pink),
        0 0 9px var(--color-translucid-pink),
        0 0 12px var(--color-translucid-pink);
    transition: 0.2s;
}

nav .icon-image {
    padding: auto;
    width: 3.6rem;
}

nav .loginBar {
    display: inline;
    margin-right: 5px;
}

nav .link,
nav .link:visited {
    line-height: 24px;
    padding: 1rem;
    color: var(--color-white);
    text-shadow: 0 0 9px var(--color-translucid-lightblue),
        0 0 9px var(--color-translucid-lightblue),
        0 0 9px var(--color-translucid-lightblue),
        0 0 12px var(--color-translucid-lightblue);
    text-decoration: none;
    text-transform: uppercase;
}

nav .link:hover {
    text-shadow: 0 0 9px var(--color-translucid-pink),
        0 0 9px var(--color-translucid-pink),
        0 0 9px var(--color-translucid-pink),
        0 0 12px var(--color-translucid-pink);
    transition: 0.2s;
}

nav .burguerMenu {
    display: none;
}

.loginBar .login {
    border: 1px solid white;
    border-radius: 2rem;
    box-shadow: 0 0 9px var(--color-translucid-lightblue),
        0 0 9px var(--color-translucid-lightblue),
        0 0 9px var(--color-translucid-lightblue),
        0 0 12px var(--color-translucid-lightblue);
}

.loginBar .login:hover {
    box-shadow: 0 0 9px var(--color-translucid-pink),
        0 0 9px var(--color-translucid-pink),
        0 0 9px var(--color-translucid-pink),
        0 0 12px var(--color-translucid-pink);
}

.loginBar .loginMenu {
    display: none;
}

@media (max-width: 1023px) {
    .desktopMenu {
        display: none;
    }

    nav .burguerMenu {
        display: block;
    }

    .loginBar .loginMenu {
        display: inline;
    }

    .loginBar .loginExtend {
        display: none;
    }
}

@media (max-width: 1023px) {}

/* ----------------- Main ----------------- */

main {
    width: 90vw;
    margin: 2rem auto 0;
}

.main-dashboard {
    display: flex;
    height: 500px;
}

.carousel {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
        url("../images/home/sega.jpg");
    background-size: cover;
    background-position: center;
    width: 50%;
    box-sizing: border-box;

    /* border: 30px solid white; */
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel .card {
    padding: 0 2rem 1rem;
    width: 70%;
    text-align: end;
    color: white;
}

.carousel .card p {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.mostValue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: flex-start;
    background-image: url("../images/home/back.jpg");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 500px;
    align-items: flex-start;
    overflow: auto;
}

.mostValue article {
    box-sizing: border-box;
    width: 45%;
    padding: 1rem;
    /* background-color: blue; */
}

.mostValue article img {
    width: 100%;
    height: auto;
    display: block;
}

.mostValue article .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray);
    color: var(--color-bone);
}

.mostValue article .info .name {
    height: 2rem;
    padding: 0.5rem;
}

.mostValue article .info .name h4 {
    color: var(--color-white);
    margin: 0;
}

.mostValue article .info .price {
    display: flex;
    align-items: center;
    height: 3rem;
    flex-wrap: 1;
    padding: 0 4px;
    background-color: var(--color-darkgray);
}

.mostValue article .info .price span {
    color: var(--color-white);
}

.mostValue article .discount {
    display: flex;
    position: relative;
    color: var(--color-white);
}

.mostValue article .discount .discount_box {
    background-color: var(--color-black);
    padding: 0.5rem;
    position: absolute;
    bottom: 20px;
    right: -10%;
    color: var(--color-green);
    box-shadow: 0 0 3px var(--color-green), 0 0 6px var(--color-green),
        0 0 9px var(--color-green), 0 0 12px var(--color-white);
}

.section_tittle {
    background-color: rgba(0, 0, 0, 0.9);
    background-size: 100%;
    background-color: var(--color-black);
    opacity: 0.9;
    color: var(--color-white);
    padding-left: 1rem;
    border-left: 5px solid var(--color-pink);
}

.products {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.products article {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.95);
    width: 250px;
    overflow: hidden;
    margin: 2rem 1rem;
    transition: 0.2s;
}

.products article:hover {
    transition: 0.2s;
    margin-top: 0;
    box-shadow: 0 0 1px #000,
        0 0 2px #000,
        0 0 6px #000,
        0 0 12px #000;
}

.products img {
    align-self: center;
    justify-self: center;
    width: 100%;
}

.products article .info {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 3px solid var(--color-black);
    color: var(--color-white);
    padding: 0 0.5rem;
}

.products article .info h4 {
    padding: 0.5rem 0;
    margin: 0;
}

.products article .info .tag {
    font-size: 0.8rem;
    background: var(--color-pink);
    color: var(--color-black);
    border-radius: 0.4rem;
    padding: 0 0.2rem;
}

.products article .info .price {
    display: flex;
    justify-content: space-between;
    color: var(--color-green);
    padding: 0.5rem 0;
    text-align: center;
    background: var(--color-black);
}

.products article .info .price span {
    text-align: center;
    flex-grow: 1;
}

.products article .info .price .cart {
    font-size: 0;
    cursor: pointer;
    transition: 0.3s;
}

.products article .info .price:hover .cart {
    font-size: 1rem;
    padding: 0 1rem;
    color: var(--color-green);
    transition: 0.3s;
}

@media (max-width: 1023px) {
    .main-dashboard {
        flex-direction: column;
        height: auto;
        transition: 0.2s;
    }

    .carousel {
        width: 100%;
        height: 400px;
    }

    .mostValue {
        width: 100%;
        height: auto;
        max-height: 800px;
    }

    .mostValue article {
        width: 45%;
        max-width: 250px;
    }
}

/* ----------------- Footer ----------------- */

footer {
    height: 12rem;
    margin-top: 2rem;
    background-color: black;
    color: white;
}

/* ----------------- Pruebas ----------------- */

.hover-3 {
    --b: 0.1em;
    /* the thickness of the line */
    --c: #1095c1;
    /* the color */

    color: #0000;
    padding-block: var(--b);
    background: linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%)) / 100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.3s var(--_s, 0s) linear,
        background-size 0.3s calc(0.3s - var(--_s, 0s));
}

.hover-3:hover {
    --_p: 100%;
    --_s: 0.3s;
}