/* ----------------- General ----------------- */

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

/* ----------------- Header ----------------- */

.navBar {
    width: 90vw;
    height: 4rem;
    border-radius: 2rem;
    margin: auto;
    background-color: var(--color-black);
    opacity: 0.80;
}

.navBar .navigation {
    display: inline;
}

.navBar .text {
    color: var(--color-bone);
}



/* ----------------- Header ----------------- */

/* ----------------- Header ----------------- */

/* ----------------- Header ----------------- */
