*{
    box-sizing: border-box;
    background-image: url("../images/home/background,jpg");
}

.header1{
    padding: 10px;
}

nav {
    /* position: sticky; */
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 4rem;
    border-radius: 2rem;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url("../images/header/header_texture.jpg");
    background-size: 100%;
    background-color: var(--color-black);
    opacity: 0.9;
    justify-content: space-between;
    align-items: center;
}

nav .nav__bar {
    display: inline;
    margin-left: 1rem;
}

nav .nav__logo {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 2.2rem;
    width: 3.6rem;
    padding: 0.4rem;
    border: 2px solid var(--color-bone);
    background: var(--color-black);
    box-shadow: 0 0 9px var(--color-translucid-lightblue),
        0 0 9px var(--color-translucid-lightblue),
        0 0 9px var(--color-translucid-lightblue),
        0 0 12px var(--color-translucid-lightblue);
}

nav .nav__logo:hover {
    border: 2px solid var(--color-white);
    box-shadow: 0 0 9px var(--color-translucid-pink),
        0 0 9px var(--color-translucid-pink),
        0 0 9px var(--color-translucid-pink),
        0 0 12px var(--color-translucid-pink);
    transition: 0.2s;
}

nav .logo__image {
    padding: auto;
    width: 3.6rem;
}

nav .nav__loginBar {
    display: inline;
    margin-right: 5px;
}

nav .nav__link,
nav .nav__link:visited {
    line-height: 24px;
    padding: 1rem;
    color: var(--color-white);
    text-shadow: 0 0 9px var(--color-translucid-lightblue),
        0 0 9px var(--color-translucid-lightblue),
        0 0 9px var(--color-translucid-lightblue),
        0 0 12px var(--color-translucid-lightblue);
    text-decoration: none;
    text-transform: uppercase;
}

nav .nav__link:hover {
    text-shadow: 0 0 9px var(--color-translucid-pink),
        0 0 9px var(--color-translucid-pink),
        0 0 9px var(--color-translucid-pink),
        0 0 12px var(--color-translucid-pink);
    transition: 0.2s;
}

nav .bar__burguerMenu {
    display: none;
}

.nav__loginBar .loginBar__btnLogin {
    border: 1px solid white;
    border-radius: 2rem;
    box-shadow: 0 0 9px var(--color-translucid-lightblue),
        0 0 9px var(--color-translucid-lightblue),
        0 0 9px var(--color-translucid-lightblue),
        0 0 12px var(--color-translucid-lightblue);
}

.nav__loginBar .loginBar__btnLogin:hover {
    box-shadow: 0 0 9px var(--color-translucid-pink),
        0 0 9px var(--color-translucid-pink),
        0 0 9px var(--color-translucid-pink),
        0 0 12px var(--color-translucid-pink);
}

.nav__loginBar .loginBar__btnUser {
    display: none;
}

@media (max-width: 1023px) {
    nav .nav__loginBar {
        margin-right: 1rem;
    }

    .bar__desktopMenu {
        display: none;
    }

    .nav__bar .bar__burguerMenu {
        display: block;
    }

    .nav__loginBar .loginBar__btnUser {
        display: inline;
    }

    .nav__loginBar .loginBar__btnExtend {
        display: none;
    }
}

@media (max-width: 460px) {

    nav .nav__loginBar .loginBar__btnUser,
    nav .nav__loginBar .loginBar__btnMessage {
        display: none;
    }
}

.todo{
    background-image: url("../images/home/background,jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0.5rem;
    background-image: url("../images/home/background.jpg");

}

.imagen{
    border: 5px solid darkmagenta ;
    width: 700px;
    padding: 10px;
}

.imagen img{
    width: 100%;
    padding-bottom:5px;
}

.producto-pricipal{
    background-image:url("../images/detalle/primer-fondo.webp");
    width: 700px;
    padding: 10px;
    border-radius:solid 1px ;
    color: aliceblue;
    padding: 0 2rem 1rem;
    width: 800px;
    text-align: left;
    position: relative;
    top: 150px;
    left: 50px;
}

.producto-pricipal img:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.producto-pricipal h1:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.descripcion{: sol
    margin-bottom: auto;
    width: 500px;
    color:black;
    height:400px;
    background-color: darkmagenta;
    border-style:solid;
    border-color: black;
    position:relative;
    left: 900px;
    bottom: 485px;

    animation: pulsate 3s infinite alternate;
    border: 0.1rem solid #35609b;
    border-radius: 2rem;
    box-shadow:0 0 1rem darkmagenta,
        0 0 0.8rem darkmagenta,
        0 0 0.8rem darkmagenta,
        inset 0 0 0.3rem darkmagenta;
    
}

.descr{
    text-decoration:overline;
    padding:10px;
}

.texto-descriptivo{
    padding: 20px;
}

.compra{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    border-style: double;
    border-color: black;
    position: relative;
    top:200px;
}

.cantidad{
    position: relative;
    right:400px;
    bottom: 580px;
}

.tema{
    font-size: x-large;
    background-color:violet;
}

.carrito{
    position: relative;
    left: 300px;
    bottom: 30px;
}

.carrito button:hover{
    background-color: forestgreen;

    transition: 0.4s;
    transform: scale(1.55);
}

input:focus{
    color:darkmagenta;
    font-weight:bold ;

}

.agregar{
    font-size:15px;
    width: 20px;
}

.subtitle{
    font-family:Handjet;
    background-color: black;
}

.detalles{
    display: flex;
   justify-content: space-around;
   align-items:flex-start ;
   height: 300px;
   background-color: darkmagenta;
   position: relative;
   bottom: 100px;
   text-align: center;

   animation: pulsate 3s infinite alternate;
   border: 0.1rem solid #35609b;
   border-radius: 2rem;
   box-shadow:0 0 2rem darkmagenta,
       0 0 1.8rem darkmagenta,
       0 0 0.8rem darkmagenta,
       inset 0 0 1.1rem darkmagenta;
}

.datos{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    background-color: cadetblue;
    border-style: double;
    border-color: #000;
    width:230px;
    text-align: center;
}

.colum1{
    position: relative;
    top:15px;
}

.colum2{
    position: relative;
    top:15px ;
}

.colum3{
    position: relative;
    top: 170px;
    right: 758px;
}

.colum4{
    position: relative;
    top:170px ;
    right: 758px;
}

.articulos{
    background-image: url("../images/detalle/space.jpg");
    width: 50%;
    height: 580px;
    width: 1519px;
    align-items: flex-start;

}

.articulos article img {
    width: 100%;
    height: auto;
    display: block;
}

.prod{
    display: flex;
    flex-direction: column;
    background-image: url("images/detalle/space.jpg");
    padding: 40px;

    gap: var(--item_gap);
}

.articulos img:hover {
    transition: 0.2s;
    transform: scale(1.05);
    box-shadow: 0 0 1px #000,
        0 0 2px #000,
        0 0 6px #000,
        0 0 12px #000;
}

.articulos i:hover {
    transition: 0.2s;
    transform: scale(2.05);
}

.recomendado{
    background-color: rgba(0, 0, 0, 0.9);
    background-size: 100%;
    background-color: var(--color-black);
    opacity: 0.9;
    color: var(--color-white);
    padding-left: 1rem;
    border-left: 5px solid var(--color-pink);
}

.ultimotitle{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color:darkmagenta;
    height:40px;
    border-style: dotted;
    border-color:indigo;
    text-align: center;
    
  animation: pulsate 3s infinite alternate;
    border: 0.1rem solid #35609b;
    border-radius: 2rem;
    box-shadow:0 0 1rem darkmagenta,
        0 0 1.8rem darkmagenta,
        0 0 0.8rem darkmagenta,
        inset 0 0 1.1rem darkmagenta;
}

.imagenes{
    height:200px;
    width: 5px;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
}

.team{

    background-color:darkmagenta;
    display: block;
    color:rgb(214, 231, 231);
    padding: 15px;

    animation: pulsate 3s infinite alternate;
    border: 0.1rem solid #35609b;
    border-radius: 2rem;
    box-shadow:0 0 1rem darkmagenta,
        0 0 1.8rem darkmagenta,
        0 0 0.8rem darkmagenta,
        inset 0 0 1.1rem darkmagenta;
}

.coment{
    position:relative;
    left: 500px;
    top: 20px;
    font-size: 40px;
}

@media (max-width: 1023px) {
   .producto-pricipal{
   width: 600px;
   height: 500px;
   }
    
   .imagen{
    width: 500px;
    height: 400px;
   }

   .descripcion{
    position: relative;
    left: 50px;
    bottom: 0px;
    top:180px;
    
    width: 500px;
    height: 300px;
   }

   .descr{
    font-size: 20px;
   }

   .texto-descriptivo{
    font-size: 16px;
   }

   .cantidad{
    position: relative;
    right:550px;
    bottom: 0px;
    top:10px;
   }
   .carrito{
    position: relative;
    right:0px;
    bottom: 40px;
   }

   .detalles{
    display: block;
   }


}

