/*{
    box-sizing: border-box;
    background-image: url("../images/home/background,jpg");
}
*/


.todo{
    background-image: url("../images/home/background,jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0.5rem;
    background-image: url("../images/home/background.jpg");

}

main{
    width: 90vw;
    margin: 0 5vw;
}

.principal{
    display: flex;
    margin-top: 2rem;
}

.imagen{
    border: 5px solid darkmagenta ;
    width: 100%;
}

.imagen img{
    width: 100%;
    padding-bottom: 5px;
}

.producto-pricipal{
    width: 60%;
    border-radius:solid 1px ;
    color: aliceblue;
    padding: 0 2rem 1rem 0 ;
    text-align: left;

}

.producto-pricipal img:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.producto-pricipal h1:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.descripcion{
    margin-bottom: auto;
    width: 40%;
    height: 100%;
    color:white;
    background-color:rgba(0, 0, 0, 0.9);
    border-style:solid;
    border-color: black;


    animation: pulsate 3s infinite alternate;
    border: 0.1rem solid #35609b;
    border-radius: 2rem;
    box-shadow:0 0 1rem darkmagenta,
        0 0 0.8rem darkmagenta,
        0 0 0.8rem darkmagenta,
        inset 0 0 0.3rem darkmagenta;
    
}

.detallito{
    display: flex;
    justify-content: center;
}

.detallito img{
    width: 20%;
    margin-bottom: 1rem;
}

.descr{
    text-decoration:overline;
    padding:10px;
}

.texto-descriptivo{
    padding: 20px 20px 0;
}

.comp{
    display: flex;
    justify-content: space-around;
}



.compra{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;

    
}

.form-group{
    display: flex;
    justify-content: space-around;
}

.tema{
    background-color:violet;
}



.carrito button:hover{
    background-color: forestgreen;

    transition: 0.4s;
    transform: scale(1.55);
}

input:focus{
    color:darkmagenta;
    font-weight:bold ;

}

/*.agregar{
    font-size:15px;
    width: 20px;
}*/

.subtitle{
    font-family:Handjet;
    background-color: black;
}

.detalles{
    display: flex;
   justify-content: space-around;
   align-items:flex-start ;
    padding: 2rem 0;
   background-color: darkmagenta;

   animation: pulsate 3s infinite alternate;
   border: 0.1rem solid #35609b;
   border-radius: 2rem;
   box-shadow:0 0 2rem darkmagenta,
       0 0 1.8rem darkmagenta,
       0 0 0.8rem darkmagenta,
       inset 0 0 1.1rem darkmagenta;
    flex-wrap: wrap;
       
}

.datos{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    background-color: cadetblue;
    border-style: double;
    border-color: #000;
    width:230px;
    text-align: center;
}

.colum{
    width: 45%;
    display: flex;
    justify-content: center;
}

.articulos{
    background-image: url("../images/detalle/space.jpg");
    align-items: flex-start;

}

.articulos  img {
    width: 100%;
    height: auto;
    display: block;
}

.prod{
    display: flex;
    flex-direction: column;
    background-image: url("images/detalle/space.jpg");
    padding: 40px;
    width: 50%;
    box-sizing: border-box;

}

.articulos img:hover {
    transition: 0.2s;
    transform: scale(1.05);
    box-shadow: 0 0 1px #000,
        0 0 2px #000,
        0 0 6px #000,
        0 0 12px #000;
}

.articulos i:hover {
    transition: 0.2s;
    transform: scale(2.05);
}

.recomendado{
    background-size: 100%;
    background-color: var(--color-black);
    opacity: 0.9;
    color: var(--color-white);

}

.ultimotitle{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color:darkmagenta;
    border-style: dotted;
    border-color:indigo;
    text-align: center;
    padding: 1em 0;
    

    border: 0.1rem solid #35609b;
    border-radius: 2rem;
    box-shadow:0 0 1rem darkmagenta,
        0 0 1.8rem darkmagenta,
        0 0 0.8rem darkmagenta,
        inset 0 0 1.1rem darkmagenta;
}

.imagenes{
    
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.team{

    background-color:darkmagenta;
    display: flex;
    color:rgb(214, 231, 231);
    padding: 15px;
    justify-content: space-between;
    align-items: center;

    animation: pulsate 3s infinite alternate;
    border: 0.1rem solid #35609b;
    border-radius: 2rem;
    box-shadow:0 0 1rem darkmagenta,
        0 0 1.8rem darkmagenta,
        0 0 0.8rem darkmagenta,
        inset 0 0 1.1rem darkmagenta;
}

.coment{

    font-size: 40px;
}

@media (max-width: 1023px) {
    .principal{
        flex-direction: column;
    }
    .producto-pricipal{
        width: 100%;
        padding: 00%;
    }
    .imagen{
        width: auto;
    }
    .descripcion{
        width: auto;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    .colum{
       width: 90%;
    }
    .prod{
        width: 90%;
        padding: 20%;
    }
}

