@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

:root {
    --label-color: white;
}

body {
    background-image: url(/images/register/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    width: 90vw;
    margin: 0 5vw;

    display: flex;
    justify-content: center;
}

.container-form {
    width: 60vw;
    padding: 1.5rem;
    margin: 3rem 0;


    background: none;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-form div {
    font-family: 'Handjet', cursive;
    font-size: 1.5rem;

    text-shadow: 0 0 3px var(--color-translucid-lightblue),
        0 0 4px var(--color-translucid-lightblue),
        0 0 5px var(--color-green);
    color: white;

}

.container-form div input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

    padding-left: 1%;

    outline: 0;
    border: none;
    border-bottom: 1px solid gray;
    background: none;
    color: white;

}


/* .container-form p {
    position: relative;
}

.container-form p label{
    position: absolute;
    font-size: 1vw;
    top: -30%;
    left: 4%;
    background: var(--label-color);
    padding: 0 5px;
}

.container-form p input{
    border: none;

    border: 1px solid black;
    text-decoration: none;
    padding: 5px;
    outline: none;
    background: none;
    cursor: pointer;
} */