/* ----------------- Footer ----------------- */

footer {
    margin-top: 2rem;
    /* background: rgba(60, 23, 68, 0.904); */
    background: linear-gradient(45deg, rgb(91, 21, 170) 0%, rgba(47, 2, 77, 0.938) 80%);
    color: white;
    border-top: 1px solid #00000049;
}

footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 90vw;
    height: 20vh;
    margin: 0 5vw;
}

.footer__section {
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    padding: 1rem;
}

.section__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__logo .logo__image {
    width: 50%;
    max-width: 140px;
}

.logo__name {
    font-size: 2rem;
}

.text--rainbow {
    background-image: linear-gradient(to left, violet, DarkViolet, DeepSkyBlue, green, yellow, orange, red);
    background-clip: text;
    color: transparent;
}

.section__newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section__newsletter form {
    width: 100%;
}

.newsletter__subscribe {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--color-translucid-black90);
}

.newsletter__subscribe input {
    background: transparent;
    height: 2rem;
    width: 100%;
    border: none;
    color: var(--color-white);
    padding-left: 1rem;
    padding-right: 2.5rem;
}

.newsletter__subscribe input:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 1px var(--color-lightblue), 0 0 2px var(--color-lightblue),
        0 0 4px var(--color-lightblue), 0 0 8px var(--color-lightblue);
}

.newsletter__subscribe .subscribe__btnSend {
    background: transparent;
    position: absolute;
    right: 0.5rem;
    border: none;
}

.newsletter__subscribe .i-send {
    color: var(--color-lightblue);
    cursor: pointer;
}

.footer__title {
    display: flex;
    flex-direction: column;
}

.footer__section .section__title {
    text-shadow: 0 0 1px var(--color-translucid-pink),
        0 0 3px var(--color-translucid-pink),
        0 0 3px var(--color-translucid-pink),
        0 0 6px var(--color-translucid-pink);
    margin-bottom: 2rem;
}

.section__socialMedia {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 10px;
}

.members_container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.members {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.members a {
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.members a img{
    width: 45px;   
    border-radius: 0.25rem;
}

.text_members{
    font-size: 0.8rem;
}

.contact_container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.icon_container {
    background-color: rgba(68, 51, 90, 0.438);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    text-decoration: none;
    border: 1px solid black;
    transition: 700ms;
    color: rgb(190, 190, 190);
}

.section__socialMedia .icon__social {
    font-size: 1.5rem;
}

.icon_container:hover {
    background-color: rgba(35, 30, 36, 0.815);
    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 27px 4px rgba(255,168,255,1);
}

.footer_data {
    width: 80%;
    padding-right: 2px;
}
.text1 {
    color: aliceblue;
    font-size: 1rem;
    margin-top: 0;
    padding-top: 0;
}
.text2 {
    color: rgb(160, 160, 160);
    font-size: 0.85rem;
    padding: 0;
    margin: 0;
}

@media (max-width: 1180px) {
    .footer__section ul {
        padding-left: 0.2rem;
    }
}

@media (max-width: 1023px) {
    .footer__section {
        width: 50%;
    }
}

@media (max-width: 460px) {
    .footer__section {
        width: 100%;
    }
}