<!DOCTYPE html>
<html lang="en">

<!---------------------------- Head ---------------------------->

<%- include('../partials/head.ejs') %>


    <body>
        <!---------------------------- Header ---------------------------->

        <%- include('../partials/header.ejs') %>

            <!---------------------------- Main ---------------------------->

            <main>
                <section class="dashboard">
                    <div class="dashboard__carousel">
                        <div class="carousel__card">
                            <h3>Fin de semana Sega</h3>
                            <p>
                                Viví la experiencia de la era dorada de los videojuegos con
                                precios inigualables en nuestra tienda online!
                            </p>
                        </div>
                    </div>
                    <div class="dashboard__offers">
                        <article>
                            <img src="images/home/Sonic2.jpg" alt="" />
                            <div class="offers__discountTag">
                                <div class="discount_box">
                                    <span>-33%</span>
                                </div>
                            </div>
                            <div class="products__info">
                                <div class="info__name">
                                    <h4>Sonic 2</h4>
                                </div>
                                <div class="info__price">
                                    <span>$899.<sup>99</sup></span>
                                </div>
                            </div>
                        </article>
                        <article>
                            <img src="images/home/Worm.jpg" alt="" />
                            <div class="offers__discountTag">
                                <div class="discount_box">
                                    <span>-$200</span>
                                </div>
                            </div>
                            <div class="products__info">
                                <div class="info__name">
                                    <h4>Worm Jim</h4>
                                </div>
                                <div class="info__price">
                                    <span>$849.<sup>99</sup></span>
                                </div>
                            </div>
                        </article>
                        <article>
                            <img src="images/home/TinyToon.jpg" alt="" />
                            <div class="offers__discountTag">
                                <div class="discount_box">
                                    <span>2 X 1</span>
                                </div>
                            </div>
                            <div class="products__info">
                                <div class="info__name">
                                    <h4>Tiny Toon Adventures</h4>
                                </div>
                                <div class="info__price">
                                    <span>$799.<sup>99</sup></span>
                                </div>
                            </div>
                        </article>
                        <article>
                            <img src="images/home/Ghostbuster.jpg" alt="" />
                            <div class="offers__discountTag">
                                <div class="discount_box">
                                    <span>-25%</span>
                                </div>
                            </div>
                            <div class="products__info">
                                <div class="info__name">
                                    <h4>GHOSTBUSTER</h4>
                                </div>
                                <div class="info__price">
                                    <span>$799.<sup>99</sup></span>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <section>
                    <h2 class="section__tittle">Mas vendidos</h2>
                    <div class="section__products">
                        <% for(let i=0; i < BD.length; i++) { %>
                            <%- include('../partials/card--main', {data_item: BD[i]}) %>
                        <% } %>
                        <!-- <article>
                            <img src="images/home/Warcraft.jpg" alt="" />
                            <div class="products__info">
                                <div class="info__name">
                                    <a href="/details" class="name__link">
                                        <h4>Warcraft 3: The frozen throne</h4>
                                    </a>
                                    <span class="products__tag">PC</span>
                                </div>
                                <div class="info__price">
                                    <span>$799.<sup>99</sup></span>
                                    <div class="products__cart">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <img src="images/home/SuperMario.jpg" alt="" />
                            <div class="products__info">
                                <div class="info__name">
                                    <a href="/details" class="name__link">
                                        <h4>SuperMario Bro. U Deluxe</h4>
                                    </a>
                                    <span class="products__tag">Switch</span>
                                </div>
                                <div class="info__price">
                                    <span>$799.<sup>99</sup></span>
                                    <div class="products__cart">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <img src="images/home/Zelda.jpg" alt="" />
                            <div class="products__info">
                                <div class="info__name">
                                    <a href="/details" class="name__link">
                                        <h4>Legend of Zelda: Breat of the wild</h4>
                                    </a>
                                    <span class="products__tag">Switch</span>
                                </div>
                                <div class="info__price">
                                    <span>$799.<sup>99</sup></span>
                                    <div class="products__cart">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <img src="images/home/MetalSlug.jpg" alt="" />
                            <div class="products__info">
                                <div class="info__name">
                                    <a href="/details" class="name__link">
                                        <h4>Metal Slug 3</h4>
                                    </a>
                                    <span class="products__tag">PlayStation 2</span>
                                </div>
                                <div class="info__price">
                                    <span>$799.<sup>99</sup></span>
                                    <div class="products__cart">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </article> -->
                    </div>
                </section>
                <section>
                    <h2 class="section__tittle">Ultimas Novedades</h2>
                    <div class="section__products">
                        <article>
                            <img src="images/home/FF.jpg" alt="" />
                            <div class="products__info">
                                <div class="info__name">
                                    <a href="/details" class="name__link">
                                        <h4>Final Fantasy XII: CRISIS CORE</h4>
                                    </a>
                                    <span class="products__tag">PlayStation 5</span>
                                </div>
                                <div class="info__price">
                                    <span>$799.<sup>99</sup></span>
                                    <div class="products__cart">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <img src="images/home/Madden.jpg" alt="" />
                            <div class="products__info">
                                <div class="info__name">
                                    <a href="/details" class="name__link">
                                        <h4>Madden NFL 4</h4>
                                    </a>
                                    <span class="products__tag">PC</span>
                                </div>
                                <div class="info__price">
                                    <span>$10499.<sup>99</sup></span>
                                    <div class="products__cart">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <img src="images/home/StarWars.jpg" alt="" />
                            <div class="products__info">
                                <div class="info__name">
                                    <a href="/details" class="name__link">
                                        <h4>Star Wars Battlefront ultimate</h4>
                                    </a>
                                    <span class="products__tag">PC</span>
                                </div>
                                <div class="info__price">
                                    <span>$799.<sup>99</sup></span>
                                    <div class="products__cart">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <img src="images/home/Minecraft.jpg" alt="" />
                            <div class="products__info">
                                <div class="info__name">
                                    <a href="/details" class="name__link">
                                        <h4>Minecraft dungeons: Ultimate edition</h4>
                                    </a>
                                    <span class="products__tag">Xbox Live</span>
                                </div>
                                <div class="info__price">
                                    <span>$799.<sup>99</sup></span>
                                    <div class="products__cart">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </main>

            <!---------------------------- Footer ---------------------------->

            <%- include('../partials/footer.ejs') %>

    </body>

</html>