<!DOCTYPE html>
<html lang="es">

<!---------------------------- Head ---------------------------->

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/login.css" />
</head>



<body>
    <!---------------------------- Header ---------------------------->

    <%-include('../partials/header.ejs')%>

    <main class="main__login">
        <form class="login__container" action="/" method="POST" enctype="multipart/form-data">
            <div>
                <div class="container__inputText">
                    <label for="nombre">Nombre </label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre..." required>
                </div>
                <div class="container__inputText">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn-continue">Iniciar Sesión</button>
                <div class="container__separator">
                    <span>or</span>
                </div>
                <button type="submit" class="btn-extra"><i class="fa-brands fa-google icon--google"></i>Continuar con Google</button>
                <button type="submit" class="btn-extra"><i class="fa-brands fa-facebook icon--facebook"></i>Continuar con Facebook</button>
            </div>

        </form>
    </main>

    <!---------------------------- Footer ---------------------------->

    <%- include('../partials/footer.ejs') %>
</body>