<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="images/header/icono.png">

    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>My Cart</title>
</head>

<body>

    <%-include('../partials/header.ejs')%>

    <main>
        <form class="container-form">
            <div>
                <div class="inputText">
                    <label for="nombre">Nombre </label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre..." required>
                </div>
                <div class="inputText">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn-continue">Iniciar Sesión</button>
                <div class="separator">
                    <span>or</span>
                </div>
                <button type="submit" class="btn-extra"><i class="fa-brands fa-google icon--google"></i>Continuar con Google</button>
                <button type="submit" class="btn-extra"><i class="fa-brands fa-facebook icon--facebook"></i>Continuar con
                    Facebook</button>
            </div>

        </form>
    </main>

    <!-- <footer>

    </footer> -->
</body>