<!DOCTYPE html>
<html lang="es">

<!---------------------------- Head ---------------------------->

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/users/login.css" />
</head>

<body>
    <!---------------------------- Header ---------------------------->

    <%-include('../partials/header.ejs')%>

    <main class="main__login">
        <form class="login__container" action="/login" method="POST" >
            <div>
                <div class="container__inputText">
                    <label for="nombre">Usuario </label>
                    <input type="text" id="nombre" name="userName" placeholder="Ingresa tu usuario..." required>
                </div>
                <div class="container__inputText">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" id="contrasena" name="password" placeholder="Contraseña" required>
                </div>
                <div class="container__check">
                    <label for="remember">Recordar usuario</label>
                    <input type="checkbox" name="remember">
                </div>
                <button type="submit" class="btn-continue">Iniciar Sesión</button>
                <div class="container__separator">
                    <span>or</span>
                </div>
                <button type="submit" class="btn-extra"><i class="fa-brands fa-google icon--google"></i>Continuar con Google</button>
                <button type="submit" class="btn-extra"><i class="fa-brands fa-facebook icon--facebook"></i>Continuar con Facebook</button>
            </div>

        </form>
    </main>

    <!---------------------------- Footer ---------------------------->

    <%- include('../partials/footer.ejs') %>
</body>