<!DOCTYPE html>
<html lang="es">

<!---------------------------- Head ---------------------------->

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/styles/users/register.css" />
</head>

<body>
    <!---------------------------- Header ---------------------------->

    <%-include('../partials/header.ejs')%>

    <main>
        <div class="register__container">
            <form class="container__form" action="/" method="POST" enctype="multipart/form-data">
                <div>
                    <div class="container__input">
                        En los confines digitales de la realidad, un código ancestral se manifiesta como una red
                        interconectada de posibilidades. En este vasto cosmos cibernético, una figura misteriosa emerge de las sombras,
                        destinada a moldear su propia leyenda. Un ser virtual conocido como <input type="text"
                            id="nombre" name="nombre" placeholder="Ingresa tu nombre..." required>
                    </div>
                    <div class="container__input">
                        Pero un héroe sin un alias es solo un fragmento del código. ¿Cómo te llamarás jugador? <input
                            type="text" id="apodo" name="apodo" placeholder="Ingresa tu apodo..." required>
                    </div>
                    <div class="container__input">
                        En este reino de bytes y circuitos, la comunicación fluye a través de canales insondables. El
                        canal que te unirá a otros exploradores de la matriz es <input type="email" id="email"
                            name="email" placeholder="Ingresa tu Email..." required>
                    </div>
                    <div class="container__input">
                        Y así, [ingresa nombre], forjaste tu contraseña, un patrón de seguridad único entre la corriente
                        de datos. Como un algoritmo inscrito en los cimientos de la realidad virtual el cual era <input
                            type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
                    </div>
                    <div class="container__input">
                        Pero incluso en este laberinto de información, la simetría es clave. La confirmación de tu
                        contraseña sella la conexión entre tu esencia y la marea de información que te rodea <input type="password"
                            id="repetir-contrasena" name="repetir-contrasena" placeholder="Repetir contraseña"
                            required>.
                    </div>
                </div>
                <button type="submit">Registrarse</button>
            </form>
        </div>
    </main>

    <!---------------------------- Footer ---------------------------->

    <%- include('../partials/footer.ejs') %>
    
</body>

</html>